@CHARSET "ISO-8859-1";
#index-banner, #tabs-background, .tabs {
    background-color: #009688;
}

.tabs .tab a:hover {
    color: #80CBC4;
}

.tabs .tab a {
    color: white;
}

.tabs .indicator {
    bottom: 0;
    height: 3px;
    background-color: white;
}

#nueva-ruta, #editar-ruta, 
#editar-info, #nueva-info{
	padding-top:20px;
}

#switch{
	height:63px;
}

#map-create,#map-edit{
	height:300px;
	margin-bottom:20px;
}